@media (min-width: 650px)
{

    .main1 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
    }

    #nav {
        display: flex;
        
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        border-top: 2px solid black;
        margin-right: 15px;
    }

    #menu {
        display: none;
    }

    .side-pics {
        display: flex;
        justify-content: space-around;
    }

    .grid1 {
        grid-column: 0/1;
        grid-row: 0/1;
    }

    .header-img {
        height: 60vh;
    }

    .grid-rental {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
        grid-gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .marg {
        margin: 10px;
    }

    .maps {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}