@media (min-width: 650px)
{
    *{
        box-sizing: border-box;
    }

    #menu {
        display: none;
    }

    #nav {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    main{
        display: grid;
        grid-template-rows: 50vh 50vh 10vh 50vh 50vh;
        grid-template-columns: 30vw 30vw 10vw 30vw 30vw;
    }

    .second-title {
        top: 17em;
    }

    .medium {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .medium2 {
        grid-column: 1/3;
        grid-row: 2/3;

    }

    .medium3 {
        grid-column: 3/5;
        grid-row: 2/3;

    }

    .medium4 {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .medium5 {
        grid-column: 3/5;
        grid-row: 4/5;
    }

    .medium6 {
        grid-column: 1/5;
        grid-row: 5/6;
    }

    .memebr-medium {
        grid-column: 1/5;
        grid-row: 3/4;
    }

    .foot-info {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .flex {
        display: flex;
        justify-content: space-around;
    }

    .right-icon {
        margin-right: 25px;
    }


    /* Discover page */
    .discover{
        display: grid;
        grid-template-rows: 60vh 60vh 60vh 60vh 60vh 60vh;
        grid-template-columns: 55vh 70vh;
        
    }

    .s-d1{
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .s-d2{
        grid-row: 3/5;
        grid-column: 1/2;
    }

    .s-d3{
        grid-row: 5/7;
        grid-column: 1/2;
    }

    .img-details{
        background-size: cover;
        width:70vw;
        height: 55vh;
        margin: 15px 0px;
        border: 2px solid black;
        border-radius: 10px;
    }

    .img-details:hover {
        filter: blur(1px) grayscale(50%);
    }

    .img1{
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .img2{
        grid-row: 2/3;
        grid-column:2/3;
        background-size: cover;
    }
    
}