
@media (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    #menu {
        display: none;
    }

    #nav {
        display: flex;
    }
    
    .headshot {
        height: 20vh;
        width: 12vw;
    }

    .large-section {
        display: flex;
        justify-content: center;
    }

    .temple {
        top: 55%;
        font-size: 21px;
    }

    .section1{
        width: 100vw;
    }

    .section2 {
        width: 50vw;
    }

    footer div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    footer div p {
        margin-right: 10px;
    }

 





}