
@media (min-width: 600px) {
    nav ul {
        display: flex;
        flex: 1 1 100%;
        justify-content: space-around;
        margin-right: 1em;
    }

    #menu {
        display: none;
    }

    #nav {
        display: flex;
    }
    
    .large-section {
        display: flex;
        justify-content: center;
    }

    .section1{
        width: 100vw;
    }

    .section2 {
        width: 50vw;
    }

    footer div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    footer div p {
        margin-right: 10px;
    }

 





}